* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
}

:root {
    --light-green: #00ffea;
    --mid-green: #00b1a3;
    --black: #000000;
    --white: #ffffff;
    --main-blue: #0035bb;
    --light-gray: #dadada;
    --gray: #cbcbcb;
    --dark-gray: #a3a3a3;
}

body {
    position: relative;
}

.inputs {
    background-color: rgba(234, 234, 234, 0.705);
    padding: 3rem;
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    max-height: 300rem;
    position: absolute;
    top: 5rem;
    left: 28rem;
}

.inputs label {
    color: var(--black);
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 600;
}

.inputs input {
    width: 25rem;
    height: 2.5rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding-left: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.inputs button {
    height: 2.5rem;
    width: 15rem;
    margin-top: 2rem; 
    background-color: var(--main-blue);
    border-radius: 5px;
    color: var(--white);
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
}

.main-container {
    min-height: 100vh;
    display: flex;
}

.menu {
    background-color: var(--main-blue);
    width: 13rem;
}

.section1 {
    margin: 2rem;
}

.section2 {
    margin-bottom: 2rem; 
    display: flex;
    justify-content: space-between;
}

.section3 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 1rem;
}

.section2 h1 {
    color: var(--mid-green);
    font-weight: 800;
    font-size: 28pt;
    margin-right: 50rem;
}

#creator {
    width: 8rem;
    background-color: #0035bb;
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 14pt;
    font-family: 'Bebas Neue', cursive;
}

.newHistory {
    width: 150px;
    height: 150px;
    background-color: var(--light-gray);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: 0.25s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

ion-icon {
    font-size: 64px;
    color: var(--dark-gray);
}

span {
    color: var(--dark-gray);
    font-size: 16pt;
    font-family: 'Bebas Neue', cursive;
}

button {
    border: solid 1px var(--dark-gray);
}

.newHistory:hover {
    background-color: var(--gray);
}
